body {
	background-image: url("image/background.png");
	font-family: 'Acme', sans-serif;
}

header {
	display: inline;
}

h1 {
	float: left;
	margin: 20px 0px 0px 30px;
}

nav{
	color: #000000;
	font-size: 24px;
	margin-top: 30px;
	margin-right: 75px; 
}

hr {
	margin-top: 40px;
}

form {
	margin-top: 50px; 
	text-align: center;
}

input {
	width: 250px;
}

#start {
	margin-top: 10px;
	width: 100px;
	background-color: #f4d142;
	border: 1px solid black;
	margin-bottom: 30px;
}

#laptop {
	color: #f48f41;
	margin-top: 15px;
}

#code {
	color: #f48f41;
	margin-top: 15px;
}

#money {
	color: #f48f41;
	margin-top: 15px;
}

p {
	font-size: 20px;
}
















